<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->
	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>checkout</h1>
					<div class="bread-crumb white">
						<a class="" href="index.html">Home</a>
						<a href="online-store.html">Online Store</a> 
						<span>Spicy Spagetti with Shrimps and Agbo</span>
					</div>
				</div>
			</div>
		</div>
	</div>

  
    <div class="container product-shop">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="sidebar-shop">

                    <!-- SEARCH FORM -->
                    <% include components/searchForm%> 
                    <!-- END SEARCH FORM-->

                    <div class="category-bar">
                        <h2>Product Categories</h2>
                        <ul>
                            <% categories.forEach(category => { -%>
                                <li><a href="/online-store/categories/<%= category.slug %>"><%=helpers.ucwords(category.name) %></a></li>
                            <% }) -%>
                        </ul>
                    </div>
                    <div class="more-products-bar">
                        <h2>More Products</h2>
                        <div class="items">

                           <% products.forEach(data => { -%>
                            <div class="item-product">
                                <div class="product-thumb">
                                    <a href="/online-store/products/<%=data.slug %>">
                                        <img src="/img/products/<%=data.main_img %>">
                                    </a>
                                </div>
                                <div class="product-details">
                                     <a href="/online-store/products/<%=data.slug %>">
                                        <h3 class="product-title"><%=data.name %></h3>
                                    </a>
                                    <span class="product-price">&#8358;<%=data.price.toLocaleString() %></span>
                                </div>
                            </div>
                           <%})%>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="purchase-details">
                    <div class="detail-img">
                        <img src="/img/products/<%= product.main_img %>" id="productImg-<%=product.id %>">
                    </div>
                    <div class="detail-info">
                        <h2 class="detail-title"><%=product.name %></h2>
                        <div class="menu-label">
                            <span class="product-label">Fresh Pocket</span>
                            <span class="product-price">&#8358;<%=product.price.toLocaleString() %></span>
                        </div>
                        <input type="number" class="quantity" min="1" value="1" onblur="updateItemPrice(this.value,<%=product.id %>)">
                        <div class="total-price">
                            <button onclick="Cart.add(<%= product.id %>)">Add to Cart</button>
                            <h2 id="totalItemPrice-<%=product.id %>">&#8358;<%=product.price.toLocaleString() %></h2>
                        </div>
                        <p class="info-extra">Category: <span class="entry"><a href="/online-store/categories/<%=categories.find(category => category.id == product.category_id).slug %>"> <%=helpers.ucwords(categories.find(category => category.id == product.category_id).name) %></a></span></p>
                        <p class="info-extra">Share: <span><a href="" class="fa fa-facebook"></a> <a href="" class="fa fa-twitter"></a> <a href="" class="fa fa-linkedin"></a></span></p>
                    </div>
                </div>
               <!--  <div class="product-reviews">
                    <h2>REVIEWS</h2>
                    <div class="row reviews">
                        <div class="other-reviews">
                            <h3>Reviews for "Spicy Shrimp Salad and Juice (25cl)"</h3>
                            <div class="no-reviews">
                                <p>There are currently no reviews for this product</p>
                            </div>
                        </div>

                        <div class="your-review">
                            <h3>Add a Review</h3>
                            <p>Your email address will not be published</p>
                            <form>
                                <div class="form-group">
                                    <input type="Name" placeholder="Name (Optional)" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email (Optional)" name="email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" placeholder="Message (Required)" required rows="8"></textarea>
                                </div>
                                <div class="form-submit">
                                    <input type="submit" value="SUBMIT REVIEW">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>



 <% include includes/footer %>


 <script type="text/javascript">
    function toggleRemoveDialog(arg) {
        $(`#removeDialog-${arg}`).modal("show");
    }


    function removeItem(arg) {
        Cart.removeItem(arg).then((res) => {
            $(`#removeDialog-${arg}`).modal("hide");
            $(`#cart-item-${arg}`).hide();

            if (res.totalItems == 0) {
                $("#no-item").show();   
            }

            updateTotalPrice();
        });
    }


    function updateTotalPrice () {
        Cart.get().then(res=> {
            let totalPrice = res.cart.totalPrice;
            console.log(`updateTotalPrice() =>price => ${totalPrice}`);
            $("#totalPrice").html(totalPrice.toLocaleString());
            console.log(`updateTotalPrice() => ${res}`);
        });
    }


    function updateItemPrice(qty, id) {
        console.trace(qty);
        Cart.getItemById(id).then(res=> {
            let price = qty * res.data.item.price;
            $(`#totalItemPrice-${id}`).html(price.toLocaleString());

            Cart.updateQtyById(id, qty).then(res => {
                updateTotalPrice();
            });
        });

    }
 </script>

</body>
</html>