<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
    <meta name="description" content="<%=product.name%>  "  />
    <meta name="keywords" content="<%=site.keywords%>, <%=product.name%>, <%=product.description%>"/>
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="<%=pageTitle %>"/>
    <meta property="og:image" content="/img/products/<%=product.main_img %>"/>

</head>




<body>
	<!-- Start header -->
    <% include includes/header %>
	<!-- End header -->

    <style type="text/css">
        input[type=checkbox],
        input[type=radio]{
          transform:scale(1.5);
        }            
    </style>
	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Online store</h1>
					<div class="bread-crumb white">
						<a class="" href="index">Home</a>
						<a href="/online-store">Online Store</a> 
						<span><%=product.name %></span>
					</div>
				</div>
			</div>
		</div>
	</div>

  
    <div class="container product-shop">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="sidebar-shop">

                    <!-- SEARCH FORM -->
                    <% include components/searchForm%> 
                    <!-- END SEARCH FORM-->

                    <div class="category-bar">
                        <h2>Product Categories</h2>
                        <ul>
                            <% categories.forEach(category => { -%>
                                <li><a href="/online-store/categories/<%= category.slug %>"><%=helpers.ucwords(category.name) %></a></li>
                            <% }) -%>
                        </ul>
                    </div>
                    <div class="more-products-bar">
                        <h2>More Products</h2>
                        <div class="items">

                           <% products.forEach(data => { -%>
                            <div class="item-product">
                                <div class="product-thumb">
                                    <a href="/online-store/products/<%=data.slug %>">
                                        <img  alt="<%=data.name %>" src="/img/products/<%=data.main_img %>">
                                    </a>
                                </div>
                                <div class="product-details">
                                     <a href="/online-store/products/<%=data.slug %>">
                                        <h3 class="product-title"><%=data.name %></h3>
                                    </a>
                                    <span class="product-price">&#8358;<%= subProducts.find(x => x.product_id === product.id).price %></span>
                                </div>
                            </div>
                           <%})%>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="purchase-details">
                    <div class="detail-img">
                        <img src="/img/products/<%= product.main_img %>" id="productImg-<%=product.id %>" alt="<%= product.name %>">
                            
                          <% if (product.description != "N/A") { -%>
                            <p><small style="color: #ed8f20">(<%=product.description  %>)</small></p>
                        <% }  -%>                           
                        
                    </div>
                    <br>
                    <div class="detail-info">
                        <h2 class="detail-title"><%=product.name %></h2>



                     <% if (subProducts.filter(x => x.product_id === product.id).length === 1) { -%>

                            <% subProducts.filter(x => x.product_id === product.id).forEach(sp=>{ %>
                                <div class="menu-label">
                                    <!-- <span class="product-label">Fresh Pocket</span> -->
                                    <span class="product-price">&#8358;<%= sp.price.toLocaleString() %></span>
                                </div>
                                <input type="number" class="quantity" min="1" value="1" onblur="updateItemPrice(this.value,<%=sp.id %>)">


                                <div class="total-price">
                                    <button onclick="addToCart(<%= sp.id %>)">Add to Cart</button>
                                    <h2 id="totalItemPrice-<%=sp.id %>">&#8358;<%= sp.price.toLocaleString() %></h2>
                                </div>
                            <%})  %> 

                        
                    <% } else if(subProducts.filter(x => x.product_id === product.id).length > 1)  { -%>
                                <div class="menu-label">
                                    <!-- <span class="product-label">Fresh Pocket</span> -->
                                    <span class="product-price" id="productPrice">&#8358;<%=subProducts.find(x => x.product_id === product.id).price.toLocaleString() %></span>


                                </div>
                               <!--  <input type="number" class="quantity" min="1" value="1" name="qtyBtn"  onblur="updateItemPrice(this.value,<%=subProducts.find(x => x.product_id === product.id).id %>)">   -->
                                <br> <br>                
                            <% subProducts.filter(x => x.product_id === product.id).forEach(sp=>{ %>


                            <div class="form-check form-check-inline">
                              <input class="form-check-input" name="spChoice" type="radio" id="checkbox-sp-<%=sp.id %>" price="<%=sp.price %>" value="<%=sp.id %>" onchange="handleChange(this, <%=sp.id %>)">
                              <label class="form-check-label" for="checkbox-sp-<%=sp.id %>"><%=sp.name %></label>
                            </div>

                            <%})  %> 

                            <div class="total-price">
                            <button id="cartAddBtn" onclick="addToCart(<%=subProducts.find(x => x.product_id === product.id).id%>)" >Add to Cart
                            </button>
                            <!-- <h2 id="totalItemPrice-<%=subProducts.find(x => x.product_id === product.id).id %>">&#8358;<%= subProducts.find(x => x.product_id === product.id).price.toLocaleString() %></h2> -->

                                  
                            </div>  
                    <% } -%>


                        <p class="info-extra">Category: <span class="entry"><a href="/online-store/categories/<%=categories.find(category => category.id == product.category_id).slug %>"> <%=helpers.ucwords(categories.find(category => category.id == product.category_id).name) %></a></span></p>


                        <p class="info-extra">Share: <span><a href="" class="fa fa-facebook"></a> <a href="" class="fa fa-twitter"></a> <a href="" class="fa fa-linkedin"></a></span></p>
                    </div>
                </div>
               <!--  <div class="product-reviews">
                    <h2>REVIEWS</h2>
                    <div class="row reviews">
                        <div class="other-reviews">
                            <h3>Reviews for "Spicy Shrimp Salad and Juice (25cl)"</h3>
                            <div class="no-reviews">
                                <p>There are currently no reviews for this product</p>
                            </div>
                        </div>

                        <div class="your-review">
                            <h3>Add a Review</h3>
                            <p>Your email address will not be published</p>
                            <form>
                                <div class="form-group">
                                    <input type="Name" placeholder="Name (Optional)" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email (Optional)" name="email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" placeholder="Message (Required)" required rows="8"></textarea>
                                </div>
                                <div class="form-submit">
                                    <input type="submit" value="SUBMIT REVIEW">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
                <% if (extras.length > 0) { -%>
                  <h3>Extras</h3>
                    <% extras.forEach(extra => { -%>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" onchange="addExtras(this.value)" name="extras" type="checkbox" id="inlineCheckbox1" value="<%=extra.id%>" price="<%=extra.price%>">
                          <label class="form-check-label" for="inlineCheckbox1"><%=extra.name%></label>
                        </div>  
                    <% }) -%>
                <% } -%>
                    
 
                            

            </div>
        </div>
    </div>



 <% include includes/footer %>


 <script type="text/javascript">

     var extras = [];   

     function addToCart (id) {
        Cart.add(id, extras);
        console.trace(extras);
     }

    function toggleRemoveDialog(arg) {
        $(`#removeDialog-${arg}`).modal("show");
    }


    function removeItem(arg) {
        Cart.removeItem(arg).then((res) => {
            $(`#removeDialog-${arg}`).modal("hide");
            $(`#cart-item-${arg}`).hide();

            if (res.totalItems == 0) {
                $("#no-item").show();   
            }

            updateTotalPrice();
        });
    }


    function updateTotalPrice () {
        Cart.get().then(res=> {
            let totalPrice = res.cart.totalPrice;
            console.log(`updateTotalPrice() =>price => ${totalPrice}`);
            $("#totalPrice").html(totalPrice.toLocaleString());
            console.log(`updateTotalPrice() => ${res}`);
        });
    }


    function updateItemPrice(qty, id) {
        console.trace(qty);
        Cart.getItemById(id).then(res=> {
            let price = qty * res.data.item.price;
            $(`#totalItemPrice-${id}`).html(price.toLocaleString());

            Cart.updateQtyById(id, qty).then(res => {
                updateTotalPrice();
            });
        });

    }



    // multiple sp
   function handleChange(el, id) {
        // default sp id
        let initId = <%=subProducts.find(x => x.product_id === product.id).id%>;

       let cartAddBtn = $("#cartAddBtn");
       let productPrice = $("#productPrice");
       let elPrice = parseInt(el.getAttribute("price"));
       
       console.log(elPrice);


       //if id is not initial id, change button attribute
     
            cartAddBtn.attr("onclick", `addToCart(${id})`);
            productPrice.html(`&#8358;${elPrice.toLocaleString()}`);
   }

    function onlyUnique(value, index, self) { 
        return self.indexOf(value) === index;
    }   

   function addExtras (val) {
        let arr = [];

        $("input:checkbox[name=extras]:checked").each(function(){
             arr.push($(this).val()); 
        }); 

        extras = arr.filter(onlyUnique);
        console.log(extras);   
   }


 </script>

</body>
</html>