<style type="text/css">
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.btn-add-to-cart {
    background: #f4901f;
    color: #fef5ed;
    border: 0px;
    font-size: 16px;
}

.btn-add-to-cart:hover {
    background: #d2740b; 
}   
</style>





 <% products.forEach(product => { -%>
                <div class="item col-xs-3 special-grid col-lg-3 <%=categories.find(category => category.id == product.category_id).slug %>">
                    <div class="thumbnail card">
                        <div class="img-event" id="img-container-<%= product.id %>">
                            <img class="group list-group-image img-fluid" src="img/products/<%= product.main_img %>" alt="" id="productImg-<%= product.id %>"/>
                        </div>
                        <div class="caption card-body">
                            <h4 class="" style=" font-weight: 700" align="center">
                              <%= product.name %>
                                  
                              </h4>
                           
                                <div align="center">
                                    <p class="lead text-success" style="font-weight: 700">
                                        &#8358;<%= product.price.toLocaleString() %>
                                    </p>
                                </div>
                                <br>

                                <div align="center">
                                    <button class=" btn-add-to-cart btn-sm" onclick="Cart.add(<%= product.id %>)">Add to cart</button>
                       </div>
                           
                        </div>
                    </div>
                </div> 
   <% } )-%>